@import '../../reset.css';
@import '../../colors.scss';
@import '../../fonts.scss';

* {
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    background: {
        color: #fafafa;
        image: none;
    }
    color: $main-color;
    font: {
        family: $base-font;
        size: 18px;
    }
    height: 100%;
    line-height: 1.5;
}

.inner {
    

    padding-top: 0;
}

.content {
    background-color: rgba(255, 255, 255, .6);
    margin: {
        left: auto;
        right: auto;
    }
    max-width: 768px;
    padding: 20px;
    @media screen and (min-width: 800px) {
        margin: {
            top: 15px;
            bottom: 15px;
        }
    }
}
