@import '../../colors.scss';
@import '../../fonts.scss';
@import '../sponsoration_common.modules.scss';

.past_summary {
    @extend %block;
    @extend %block_end;

    background-color: $color-blue;
    text-align: center;

    h2,h3 {
        color: $color-white;
    }

    .big_summary {
        @extend %block;
        @extend %block_end;
		@extend %grid_3;

        .col_speakers {
            background-image: url('./icon-microphone.svg');
        }
        .col_attendees {
            background-image: url('./icon-audience.svg');
        }
        .col_countries {
            background-image: url('./icon-flags.svg');
        }

        .col_speakers,
        .col_attendees,
        .col_countries {
            color: $color-white;

            background: {
                position: top center;
                repeat: no-repeat;
            }
            padding-top: 8rem;

            .stat_number {
                font: {
                    size: 6rem;
                    family: $base-font;
                    weight: 200;
                }
				line-height: 5rem;
				display: block;
				margin-bottom: 1rem;
            }

            .label {
				display: block;
				font-size: 1.4rem;
            }
        }
    }
}
