@import '../../colors.scss';
@import '../../fonts.scss';
@import '../sponsoration_common.modules.scss';

.past_summary {
    @extend %block;
    @extend %block_end;

    @media screen and (max-width: 767px) {
        padding-bottom: 0rem;
    }

    background-color: $color-blue;
    text-align: center;

    h2,h3 {
        color: $color-white;
    }

    .big_summary {
        @extend %block;
        @extend %block_end;

        @extend %grid_3;

        .col_speakers {
            background-image: url('./icon-microphone.svg');
        }
        .col_attendees {
            background-image: url('./icon-audience.svg');
        }
        .col_countries {
            background-image: url('./icon-flags.svg');
        }

        .col_speakers,
        .col_attendees,
        .col_countries {
            color: $color-white;

            background: {
                position: top center;
                repeat: no-repeat;
            }

            padding-top: 8rem;

            @media screen and (max-width: 767px) {
                background-size: 40%;
                padding-top: 4rem;
            }

            .stat_number {
                font: {
                    size: 6rem;
                    family: $base-font;
                    weight: 200;
                }

				line-height: 5rem;
				display: block;
				margin-bottom: 1rem;

                @media screen and (max-width: 767px) {
                    font-size: 4rem;
                    margin-bottom: 0rem;
                }
            }

            .label {
				display: block;
                font-size: 1.4rem;
                color: $color-white;
            }
        }
    }

    .video {
        width: 100%;
        height: 0;
        padding-bottom: 56%;
        position: relative;

        iframe {
            position: absolute;
            left: 0;
            top: 0;

            @media screen and (max-width: 767px) {
                left: -2rem;
                top: -2rem;
                width: 100vw;
                height: calc(0.5625 * 100vw);
            }
        }
    }
}
