@import '../breakpoints.scss';
@import '../colors.scss';
@import '../font-face.scss';
@import '../sizes.scss';

.buy {   
    margin: {
        left: auto;
        right: auto;
    }

    text-align: center;

    @media screen and (min-width: $breakpoint-lg) {
        position: absolute;
    }

    @media screen and (max-width: $breakpoint-lg) {
        margin: 0 auto;
    }
}

.ticket {
    background-color: #f5eea6;
    color: #442f09;
    display: block;
    margin: {
        right: $size-sm;
    }
    padding: {
        right: $size-md;
        left: $size-md;
    }

    position: relative;
    text-decoration: none;

    margin: {
        left: auto;
        right: auto;
    }

    padding: 0;
    height: 60px;
    width: (500px / 3);

    @media screen and (min-width: $breakpoint-lg) {
        height: 52px;
        width: (400px / 3);
    }

    &:hover, &:focus, &:active {
        opacity: .9;
    }

    &::before, &::after {
        background-color: rgba(0,0,0,0);
        border-radius: 50%;
        content: "";
        height: 12px;
        position: absolute;
        top: 10px;
        width: 12px;
    }

    @media screen and (min-width: $breakpoint-lg) {
        &::before {
            border-radius: 0;
            $darkred: darken($jsconfred, 20%);

            left: -6px;

            box-shadow:
                0 12px 0 -5px #f5eea6,
                0 22px 0 -5px #f5eea6,
                0 32px 0 -5px #f5eea6,
                0 42px 0 -5px #f5eea6,
                (400px / 3) 12px 0 -5px #f5eea6,
                (400px / 3) 22px 0 -5px #f5eea6,
                (400px / 3) 32px 0 -5px #f5eea6,
                (400px / 3) 42px 0 -5px #f5eea6;


            height: (50px / 3);
            left: (-25px / 3);
            top: (-25px / 3);
            width: (50px / 3);
        }
        &::after {
            right: -6px;
            content: none;
        }
    }

    @media screen and (max-width: $breakpoint-lg) {
        &::before {
            $darkred: darken($jsconfred, 20%);

            left: -6px;
            background-color: $darkred;
            box-shadow: 
                (500px / 3) 0 0 0 $darkred, 
                0 60px 0 0 $darkred, 
                (500px / 3) 60px 0 0 $darkred,
                0 15px 0 -5px $darkred,
                0 25px 0 -5px $darkred,
                0 35px 0 -5px $darkred,
                0 45px 0 -5px $darkred,
                0 55px 0 -5px $darkred,
                (500px / 3) 15px 0 -5px $darkred,
                (500px / 3) 25px 0 -5px $darkred,
                (500px / 3) 35px 0 -5px $darkred,
                (500px / 3) 45px 0 -5px $darkred,
                (500px / 3) 55px 0 -5px $darkred;

            height: (50px / 3);
            left: (-25px / 3);
            top: (-25px / 3);
            width: (50px / 3);
        }
        &::after {
            right: -6px;
            content: none;
        }
    }

    & .inner {
        border-right: 3px dotted #5e400b;
        padding: {
            top: 2px;
            right: $size-sm;
            bottom: 3px;
        }

        align-items: center;
        bottom: 10px;
        border: 2px solid #5e400b;
        border-radius: 10px;
        display: flex;
        justify-content: center;
        left: 10px;
        padding: 0;
        position: absolute;
        right: 10px;
        top: 10px;

        & .label {
            font: {
                family: $secondary-font;
                size: 15px;
                weight: 600;
            }

            @media screen and (min-width: $breakpoint-lg) {
                font-size: 14px;
            }

            letter-spacing: 1px;
            text-transform: uppercase;
            font-size: 20px;
            position: relative;

            &:before, &:after {
                background-color: #f5eea6;
                content: '★ ★ ★ ★ ★';

                @media screen and (min-width: $breakpoint-lg) {
                    content: '★ ★ ★ ★';
                    width: 65px;
                }

                font: {
                    family: auto;
                    size: 12px;
                }

                letter-spacing: 0;
                left: 0;
                margin: 0 auto;
                position: absolute;
                right: 0;
                text-align: center;
                width: 75px;
            }
            &:before {
                top: -15px;
            }
            &:after {
                bottom: -15px;
            }
        }
    }
}