@import '../breakpoints.scss';
@import '../colors.scss';
@import '../fonts.scss';
@import '../font-face.scss';
@import '../sizes.scss';

.buy {
    /*
    @media screen and (min-width: $breakpoint-lg) {
        bottom: $size-lg;
        left: 0;
        margin: {
            left: auto;
            right: auto;
        }
        position: absolute;
        right: 0;
        text-align: center;
    }
    */
}

.ticket {
    background-color: #f5eea6;
    color: #442f09;
    display: block;
    margin: {
        right: $size-sm;
    }
    padding: {
        right: $size-md;
        left: $size-md;
    }
    position: relative;
    text-decoration: none;
    
    /*
    @media screen and (min-width: $breakpoint-lg) {
        margin: {
            left: auto;
            right: auto;
            top: $size-sm;
        }
        padding: 0;
        height: 60px;
        width: (500px / 3);
    }
    */
    &:hover, &:focus, &:active {
        opacity: .9;
    }
    &::before, &::after {
        background-color: $jsconfred;
        border-radius: 50%;
        content: "";
        height: 12px;
        position: absolute;
        top: 10px;
        width: 12px;
    }
    &::before {
        left: -6px;
        /*
        @media screen and (min-width: $breakpoint-lg) {
            box-shadow: 
                (500px / 3) 0 0 0 $jsconfred, 
                0 60px 0 0 $jsconfred, 
                (500px / 3) 60px 0 0 $jsconfred,
                0 15px 0 -5px $jsconfred,
                0 25px 0 -5px $jsconfred,
                0 35px 0 -5px $jsconfred,
                0 45px 0 -5px $jsconfred,
                0 55px 0 -5px $jsconfred,
                (500px / 3) 15px 0 -5px $jsconfred,
                (500px / 3) 25px 0 -5px $jsconfred,
                (500px / 3) 35px 0 -5px $jsconfred,
                (500px / 3) 45px 0 -5px $jsconfred,
                (500px / 3) 55px 0 -5px $jsconfred;
            height: (50px / 3);
            left: (-25px / 3);
            top: (-25px / 3);
            width: (50px / 3);
        }
        */
    }
    &::after {
        right: -6px;
        @media screen and (min-width: $breakpoint-lg) {
            //content: none;
        }
    }
    & .inner {
        border-right: 3px dotted #5e400b;
        padding: {
            top: 2px;
            right: $size-sm;
            bottom: 3px;
        }
        /*
        @media screen and (min-width: $breakpoint-lg) {
            align-items: center;
            bottom: 10px;
            border: 2px solid #5e400b;
            border-radius: 10px;
            display: flex;
            justify-content: center;
            left: 10px;
            padding: 0;
            position: absolute;
            right: 10px;
            top: 10px;
        }
        */
        & .label {
            font: {
                family: $secondary-font;
                size: 15px;
                weight: 600;
            }
            letter-spacing: 1px;
            text-transform: uppercase;
            /*
            @media screen and (min-width: $breakpoint-lg) {
                font-size: 20px;
                position: relative;
            }
            */

            &:before, &:after {
                /*
                @media screen and (min-width: $breakpoint-lg) {
                    background-color: #f5eea6;
                    content: '★ ★ ★ ★ ★';
                    font: {
                    family: auto;
                    size: 12px;
                    }
                    letter-spacing: 0;
                    left: 0;
                    margin: 0 auto;
                    position: absolute;
                    right: 0;
                    text-align: center;
                    width: 75px;
                }
                */
            }
            &:before {
                @media screen and (min-width: $breakpoint-lg) {
                    //top: -15px;
                }
            }
            &:after {
                @media screen and (min-width: $breakpoint-lg) {
                    //bottom: -15px;
                }
            }
        }
    }
}