@import 'reset';
@import 'defaults';

html {
    height: 100%;
}

body {
    background: {
        attachment: fixed;
        color: #f1f1f1;
        image: url(/img/bg.jpg);
        size: cover;
        repeat: no-repeat;
    }
    color: $main-color;
    font: {
        family: $base-font;
        size: 18px;
    }
    height: 100%;
    line-height: 1.5;
}

.home {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-around;
}

.date {
    color: $secondary-color;
    font: {
        size: 8em;
    }
    text-shadow: 1px 1px 2px #532213;
    @media screen and (min-width: 1024px) {
        font-size: 18em;
    }
}

.navigation {
    &_wrapper {
        &_list {
            display: flex;
            justify-content: center;
            &_item {
                margin: {
                    left: 15px;
                    right: 15px;
                }
                &_link {
                    color: $link-color;
                    font: {
                        size: 1em;
                    }
                    text-decoration: underline;
                    &:hover, &:focus {
                        color: $link-hover-color;
                        outline: 0;
                        text-decoration: none;
                    }
                    &:visited {
                        color: $link-visited-color;
                    }
                }
            }
        }
    }
}

.tldr {
    background-color: rgba(255, 255, 255, .6);
    margin: {
        left: auto;
        right: auto;
    }
    max-width: 768px;
    padding: 20px;
    @media screen and (min-width: 800px) {
        margin: {
            top: 15px;
            bottom: 15px;
        }
    }
}

section {
    a {
        color: $link-color;
        text-decoration: underline;
        &:hover, &:focus {
            color: $link-hover-color;
            outline: 0;
            text-decoration: none;
        }
        &:visited {
            color: $link-visited-color;
        }
    }
    h1, h2, h3 {
        color: $secondary-color;
        margin-top: 1em;

        &:first-child {
            margin-top: 0;
        }
    }

    h1 {
        font-size: 2.5em;
    }
    h2 {
        font-size: 2em;
    }
    h3 {
        font-size: 1.5em;
    }

    h1, h2, h3, ul, p {
        margin-bottom: 1.25em;
    }
    li {
        margin-left: 1.25em;
        list-style-type: disc;
        margin-bottom: 0.5em;
    }
    em {
        font-style: italic;
    }
    strong {
        font-weight: bold;
    }

    .team-grid {
        display: grid;
        grid-gap: 2em;
        grid-template-columns: repeat(auto-fill, minmax(25%, 1fr));
        grid-auto-rows: minmax(150px, auto);

        li {
            margin: 0;
            list-style-type: none;
            text-align: center;
            position: relative;
            padding: 0 1em;

            a span {
                overflow: hidden;
                width: 10em;
                height: 10em;
                display: block;
                position: relative;
                border-radius: 50%;
                margin: 0 auto;
                margin-bottom: .5em;

                img {
                    width: 100%;

                }
            }
        }
    }
}

.mood-video {
    width: 100%;
    height: 0;
    padding-bottom: 56%;
    position: relative;

    iframe {
        position: absolute;
        width: 100%;
        height: 100%;
    }
}