@import '../fonts.scss';

.sponsoration {

    h2, h3, h4 {
        font-family: $heading-font;
        margin: 0;
    }

    h2 {
        text-transform: uppercase;
        font-size: 3rem;
        font-weight: bold;
        margin-bottom: .8rem;

        @media screen and (max-width: 767px) {
            font-size: 2.6rem;
        }
    }

    h3 {
        font-size: 1.5em;

        @media screen and (max-width: 767px) {
            font-size: 1.3rem;
        }
    }
}

%block {
    margin: 0;
    padding: 4rem 0 0;

    @media screen and (max-width: 767px) {
        padding: 3rem 0 0;
    }

}

%block_end {
    padding-bottom: 4rem;

    @media screen and (max-width: 767px) {
        padding-bottom: 3rem;
    }
}

.block_inner {
    max-width: 960px;
    margin: 0 auto;

    @media screen and (max-width: 767px) {
        padding: 0 2rem;
    }
}


%grid_3 {
    display: grid;
    grid-template-columns: 13rem 13rem 13rem;

    @media screen and (max-width: 767px) {
        grid-template-columns: auto;
        grid-template-rows: 13rem 13rem 13rem;
    }

    justify-items: center;
    align-items: start;
    justify-content: center;
    grid-gap: 2rem;
}

%grid_2 {
    display: grid;
    grid-template-columns: 13rem 13rem;
    justify-items: center;
    align-items: start;
    justify-content: center;
    grid-gap: 2rem;

    @media screen and (max-width: 767px) {
        grid-template-columns: 1fr 1fr;
        grid-gap: 1rem;
    }
}