@import '../breakpoints.scss';
@import '../sizes.scss';
@import '../colors.scss';
@import '../font-face.scss';

@mixin hover-gray() {
	&:hover, &:focus, &:active {
		color: $gray-900;
	}
}
@mixin hover-red() {
	&:hover, &:focus, &:active {
		border-color: $color-red;
		color: $color-red !important;
	}
}
@mixin visited-gray() {
	&:visited {
		color: $gray-900;
	}
}
@mixin visited-white() {
	&:visited {
		color: $color-white !important;
	}
}

.button {
	font-size: 1rem;
	padding: $size-md $size-lg;
	margin-bottom: $size-lg;
	cursor: pointer;
	text: {
		decoration: none;
		transform: uppercase;
	}

	border: 1px solid $color-yellow;

	&:hover, &:focus, &:active {
		border-color: $color-white;
		background-color: $color-white;
		color: $gray-900 !important;
	}
	&__block {
		display: block;
		width: fit-content;
		margin: 0 auto;
		margin-bottom: $size-lg;
	}

	&__fill {
		border: none;
		color: $gray-900;

		&__color {
			&__red {
				color: $color-white !important;
				border-color: $color-red;
				background-color: $color-red;

				@include visited-white();
				@include hover-red();
			}
			&__yellow {
				background-color: $color-yellow;
				color: $gray-900 !important;
				@include visited-gray();
			}
		}
	}

	&__color {
		&__red {
			border-color: $color-red;
			color: $color-red;
			@include hover-gray();

			&:visited {
				color: $color-red;
				@include hover-gray();
			}
		}
		&__yellow {
			border-color: $color-yellow;
			color: $color-yellow;

			@include hover-gray();

			&:visited {
				color: $color-yellow;
				@include hover-gray();
			}
		}
	}
}