@import '../breakpoints.scss';
@import '../colors.scss';
@import '../fonts.scss';
@import '../font-face.scss';
@import '../sizes.scss';

.button {
	border: 1px solid $color-yellow;
	color: $color-yellow;
	padding: $size-md $size-lg;

	margin-bottom: $size-lg;

	cursor: pointer;

	text: {
		decoration: none;
		transform: uppercase;
	}

	&:hover, &:focus, &:active {
		border-color: $color-white;
		background-color: $color-white; // #fff;
		color: $gray-900;
	}

	&__block {
		display: block;
		width: fit-content;
		margin: 0 auto;
		margin-bottom: $size-lg;
	}

	&__fill {
		border: none;
		color: $gray-900;

		&__color {
			&__red {
				background-color: $color-red;
			}
			&__yellow {
				background-color: $color-yellow;
			}
		}
	}

	&__color {
		&__red {
			border-color: $color-red;
		}
		&__yellow {
			border-color: $color-yellow;
		}
	}

}