@import '../components/mixins.scss';
@import '../components/breakpoints.scss';
@import '../components/colors.scss';
@import '../components/font-face.scss';
@import '../components/sizes.scss';

.workshop_page {
	display: grid;
	grid-template-columns: 1.1fr 1.1fr .8fr;
	grid-template-rows: auto;
	grid-template-areas:
	  "title title ."
	  "content content meta"
	  "content content meta";

	grid-gap: 2rem;
	min-height: 0;

    @media screen and (max-width: $breakpoint-lg) {
		grid-gap: 0rem;
    }

	.main_content {
		grid-area: content;
	}

	.workshop_title {
		grid-area: title;
	}

	.workshop_meta {
		grid-area: meta;

		.subtitle {
			font-family: $primary-font;
			color: $color-black;
			margin: 0;
			margin-bottom: .5rem;
		}

		.links {
			margin: 0;
			margin-bottom: $size-xxl;
	
			@media screen and (max-width: $breakpoint-lg) {
				margin-top: 2rem;
				margin-left: -2rem
			}
			@media  screen and (min-width: $breakpoint-md) and (max-width: $breakpoint-lg) {
				margin-left: 2rem
			}
			li {
				list-style-type: none;
				margin: 0;
				margin-bottom: .5rem;
				position: relative;
			}
		}

		.ticket_button {
			margin: 0;
		}
	}

	hr {
		margin: 2rem 0;
		height: 0px;
		border: none;
		border-bottom: 1px solid lighten($color-black, 80%);
	}


}