@import '../reset.scss';
@import '../breakpoints.scss';
@import '../colors.scss';
@import '../fonts.scss';
@import '../font-face.scss';
@import '../sizes.scss';

body {
    color: $gray-900;
    font-family: $primray-font;
}

h1, h2, h3, h4, h5 {
    color: $jsconfred;
    font-family: $secondary-font;
}

.main {
    box-sizing: border-box;

    @media screen and (max-width: $breakpoint-sm) {
        min-height: 98vh;
        height: auto;
    }

    @media screen and (min-width: $breakpoint-sm) {
        padding: {
            top: 364px;
        }
        min-height: calc(136vh - 364px);
    }
    @media screen and (min-width: $breakpoint-sm) and (max-width: $menu-breakpoint) {
        padding: {
            top: 320px;
        }
    }
    background: {
        attachment: fixed;
        image: url('../budapest.jpg');
        repeat: no-repeat;
        size: cover;
    }

    position: relative;
    z-index: 1;

    &::before {
        background: rgba(0, 0, 0, .6);
        bottom: 0;
        content: '';
        left: 0;
        right: 0;
        top: 0;
        position: absolute;
    }
}

.footer {
    background: $gray-900;
    color: $gray-100;
    font-family: $secondary-font;
    padding: $size-lg;
    text-align: center; 
}