@import '../../colors.scss';
@import '../../fonts.scss';
@import '../sponsoration_common.modules.scss';


.title {
	font-size: 2rem;
	text-align: center;
	font-family: $heading-font;
	padding-top: 8rem;
	font-weight: bold;

	@media screen and (max-width: 767px) {
		padding-top: 10rem;
	}
}

.sponsor_header {

	@extend %block;
    @extend %block_end;
}

.jsconf,
.cssconf {
	display: block;
	height: 8rem;
	width: 8rem;
	position: absolute;
	top: 6rem;
	left: 50%;
	background-size: cover;
}

.jsconf {
	transform: translateX(-120%);
	background-image: url('./jsconf_red.png');
}
.cssconf {
	transform: translateX(20%);
	background-image: url('./cssconf_red.png');
}