@import '../mixins.scss';
@import '../breakpoints.scss';
@import '../colors.scss';
@import '../fonts.scss';
@import '../font-face.scss';
@import '../sizes.scss';

.logo {
    display: block;
    
    @include valueByHeaderScroll('height', 64px, 128px);
    @include valueByHeaderScroll('width', 64px, 128px);

    @media screen and (max-width: $breakpoint-sm) {
        width: 48px;
        height: 48px;
    }

    margin: {
        left: auto;
        right: auto;
    }

    position: absolute;
    left: 50%;

    @include valueByHeaderScroll('bottom', 10px, 64px);

    transform: translateX(-50%);
    
    z-index: 15;
    
    & .inner {
        width: 100%;
    }
}