.inner {
    margin: 0 auto;
    max-width: 960px;
    padding: 0 1.0875rem 1.45rem;
    padding-top: 0;
}

.content {
    background-color: rgba(255, 255, 255, .6);
    margin: {
        left: auto;
        right: auto;
    }
    max-width: 768px;
    padding: 20px;
    @media screen and (min-width: 800px) {
        margin: {
            top: 15px;
            bottom: 15px;
        }
    }
}
