@import '../reset.scss';
@import '../mixins.scss';
@import '../breakpoints.scss';
@import '../colors.scss';
@import '../fonts.scss';
@import '../font-face.scss';
@import '../sizes.scss';

.main {

    @media screen and (min-width: $menu-breakpoint) {
        @include valueByHeaderScroll('padding-top', 84px, 364px);
    }

    background: {
        color: $color-content-background;
        attachment: fixed;
        repeat: no-repeat;
        size: cover;
    }

    padding-top: 68px;


    @media screen and (min-width: $breakpoint-sm) and (max-width: $menu-breakpoint) {
        padding-top: 320px;
    }

    position: relative;

}

.footer {
    background: $gray-900;
    color: $gray-100;
    font-family: $secondary-font;
    padding: $size-lg;
    text-align: center;
}