@import '../../colors.scss';
@import '../../fonts.scss';
@import '../sponsoration_common.modules.scss';

.reach {
    @extend %block;

    background-color: $color-white;
    text-align: center;

    h2, h3 {
        color: $color-red;
    }

    h3 {
        font-weight: normal;
    }

    h4 {
        font-family: $heading-font;
        font-size: 1.2rem;
        color: $color-yellow;
        font-weight: bold;
        margin-bottom: 1rem;
    }


    .numbers {
        @extend %block;
        @extend %grid_3;

        grid-template-columns: 13rem 13rem 13rem;
        font-weight: 200;

        .twitter {
            h4 {
                color: $color-twitter;
            }
        }
        .youtube {
            h4 {
                color: $color-red;
            }
        }
        .facebook {
            h4 {
                color: $color-facebook;
            }
        }

        .followers,
        .subscribers,
        .reached {
            font-family: $base-font;
            font-weight: 200;
            font-size: 4rem;
            display: block;
            color: $color-black;
        }
    }

    .notes {
        @extend %block;
        @extend %block_end;
        display: block;
        font-weight: 200;
    }
}
