@import '../mixins.scss';
@import '../breakpoints.scss';
@import '../colors.scss';
@import '../font-face.scss';
@import '../sizes.scss';

$menu-offset: -10;

.nav {
    background-color: rgba(255,255,255, calc(0.1 - calc(var(--scroll-ratio) * 0.1)));
    color: #fff;
    top: 0;
    left: 0;
    position: fixed;
    right: 0;
    z-index: 15;
    height: 64px;
    box-sizing: content-box;
    text-align: center;
    padding: {
        top: 10px;
        bottom: 10px;
    }

    ul, li {
        display: inline-block;
    }

    ul {
        --menu-offset: -3px;
        transform: translateX(calc( var(--menu-offset) - calc(var(--scroll-ratio) *  var(--menu-offset) )))
    }

    li:nth-child(4) {
        @include valueByInverseHeaderScroll('padding-right', 0px, 47px);
    }
    li:nth-child(5) {
        @include valueByInverseHeaderScroll('padding-left', 0px, 47px);
    }

    @media screen and (min-width: $breakpoint-sm) {
        &::after {
            content: '';
            position: absolute;
            z-index: -1;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
        }
    }

    @media screen and (max-width: $breakpoint-lg) {
        background-color: #474C51;
        display: none;
        top: 0;
        height: auto;
        padding: {
            top: 68px;
        }

        &__open {
            display: block;
        }
        ul {
            transform: none;
            display: block;
            padding-top: $size-md;
        }

        li {
            display: block;
        }

        .link {
            line-height: 48px;
        }

        li:nth-child(3) {
            padding-right: 0;
        }
        li:nth-child(4) {
            padding-left: 0;
        }
    }
}

.item {
    font-size: $text-lg;
    line-height: 1.25;

    &:last-child {
        border-bottom: none;
    }

    &_ticketButton {
        padding-left: $size-md;
        position: relative;
        vertical-align: middle;
        height: 64px;
        box-sizing: border-box;

        @media screen and (min-width: $breakpoint-lg) {
            width: (450px / 3);
        }

        @media screen and (max-width: $breakpoint-lg) {
            padding-right: $size-md;
            padding-top: $size-md;
            padding-bottom: 5rem;
        }
    }
}

.link {
    color: $color-white;
    display: inline-block;
    font-family: $base-font;
    font-weight: 200;
    line-height: 64px;
    padding: {
        right: $size-md;
        left: $size-md;
    }
    position: relative;
    text-decoration: none;

    @media screen and (min-width: $breakpoint-sm) {
        &:hover, &:active, &:focus {
            color: $color-white;

            &::after {
                content: '';
                height: 1px;
                position: absolute;
                bottom: 18px;
                left: 0;
                right: 0;
                margin: {
                    right: $size-md;
                    left: $size-md;
                }
                border-bottom: 1px dashed $color-white;
            }
        }
    }
}
