@import '../breakpoints.scss';
@import '../colors.scss';
@import '../fonts.scss';
@import '../font-face.scss';
@import '../sizes.scss';

.nav {
    background-color: rgba(255,255,255, calc(0.1 - calc(var(--scroll-ratio) * 0.1)));
    color: #fff;
    top: 0;
    left: 0;
    position: fixed;
    right: 0;
    z-index: 10;
    height: 64px;
    box-sizing: content-box;
    text-align: center;
    padding: {
        top: 10px;
        bottom: 10px;
    }

    ul, li {
        display: inline-block;
    }

    ul {
        transform: translateX(calc(22px - calc(var(--scroll-ratio) * 22px)))
    }

    li:nth-child(3) {
        padding-right: calc(47px - calc(var(--scroll-ratio) * 47px));
    }
    li:nth-child(4) {
        padding-left: calc(47px - calc(var(--scroll-ratio) * 47px));
    }

    @media screen and (max-width: $breakpoint-sm) {
        background-color: darken($jsconfred, 20%);
        display: none;
        top: 0;
        height: auto;
        padding: {
            top: 68px;
        }

        &__open {
            display: block;
        }
        ul {
            transform: none;
            display: block;
        }

        li {
            display: block;
        }

        .link {
            line-height: 48px;
        }

        li:nth-child(3) {
            padding-right: 0;
        }
        li:nth-child(4) {
            padding-left: 0;
        }


        
    }
}

.item {
    font-size: $text-lg;
    line-height: 1.25;

    &:last-child {
        border-bottom: none;
    }

    &_ticketButton {
        padding-left: $size-md;
        
        @media screen and (max-width: $breakpoint-sm) {
            padding-right: $size-md;
            padding-top: $size-md;
            padding-bottom: $size-md;
        }
    }
}

.link {
    color: $color-white;
    display: inline-block;
    font-family: $base-font;
    font-weight: 200;
    line-height: 64px;
    padding: {
        right: $size-md;
        left: $size-md;
    }
    text-decoration: none;
    
    &:hover, &:active, &:focus {
        background-color: darken($jsconfred, 20%);
    }
}
