@import '../colors.scss';

.navigation {
    &_wrapper {
        &_list {
            margin: 0;
            padding: 0;
            
            display: grid;
            justify-items: center;
            justify-content: space-around;
            align-items: center;
            grid-template-columns: auto auto auto;
            
            @media screen and (max-width: 800px) {
                grid-template-columns: 20% 20% 20%;
            }

            &_item {
                list-style-type: none;
                margin: {
                    left: 15px;
                    right: 15px;
                }
                a {
                    color: $link-color;
                    font: {
                        size: 1em;
                    }
                    text-decoration: underline;
                    &:hover, &:focus {
                        color: $link-hover-color;
                        outline: 0;
                        text-decoration: none;
                    }
                    &:visited {
                        color: $link-visited-color;
                    }
                }
            }
        }
    }
}