@import '../components/breakpoints.scss';
@import '../components/colors.scss';
@import '../components/fonts.scss';
@import '../components/font-face.scss';
@import '../components/sizes.scss';

.home {
    align-items: center;
    display: flex;
    justify-content: center;
    min-height: 100vh;
    text-align: center;
    & .homeContent {
        position: relative;
    }
    & .title {
        color: #fff;
        font-size: $title-lg;
    }
    & .date {
        color: #fff;
        display: block;
        font: {
            size: $title-md;
            weight: 300;
        }
        margin: {
            top: $size-lg;
            bottom: $size-xl;
        }
    }
    & .venue {
        color: #fff;
        display: block;
        font-size: $title-md;
        margin-bottom: $size-xxl;
    }
    & .updates {
        border: 1px solid #fff;
        color: #fff;
        padding: $size-md $size-lg;
        text: {
            decoration: none;
            transform: uppercase;
        }
        &:hover, &:focus, &:active {
            background-color: #fff;
            color: $gray-900;
        }
    }
}