.list {
	display: grid;
	grid-template-columns: 4rem auto;

	dt {
		text-align: right;
		padding-right: 1rem;
	}

	dd {
		font-weight: 200;
	}

	.break {
		margin-top: 2rem;

		margin-bottom: 2rem;
	}
}