@import '../components/breakpoints.scss';
@import '../components/colors.scss';
@import '../components/fonts.scss';
@import '../components/font-face.scss';
@import '../components/sizes.scss';

.simpleText {
    background-color: #f9f9f9;
    line-height: 1.48rem;
    max-width: 800px;
    margin: {
        right: auto;
        left: auto;
    }
    padding: $size-md;
    position: relative;
    @media screen and (min-width: $breakpoint-lg) {
        padding: $size-lg;

    }
    > * {
        margin-bottom: 1.2rem;
    }

    & h1 {
        font-size: $size-xxl;
        line-height: 1.2;


        @media screen and (min-width: $breakpoint-lg) {
            font-size: $size-xxl;
        }
    }

    & h2, & h3, & h4 {
        margin: {
            top: $size-md;
            bottom: $size-md;
        }
        line-height: 1.2;
        font-weight: bold;
    }

    & h2 {
        font-size: $size-xl;
        @media screen and (min-width: $breakpoint-lg) {
            font-size: $size-xl;
        }
    }

    & h3 {
        font-size: $size-lg;
        @media screen and (min-width: $breakpoint-lg) {
            font-size: $size-lg;
        }
    }

    & p + h2,
    & p + h3,
    & ul + h2,
    & ul + h3 {
        margin: {
            top: $size-xl;
        }
    }

    & p,
    & li {
        font-weight: 200;
    }

    & ul li {
        list-style-type: disc;
        margin: {
            left: $size-lg;
            bottom: $size-md;
        } 
        
        &:last-child {
            margin-bottom: 0;
        }
    }

    & a {
        color: $jsconfred;
        &:hover, &:active, &:focus {
            text-decoration: none;
        }
    }

    & .cfp__button {
        color: $gray-300;
        &:hover, &:active, &:focus {
            color: $jsconfred;
        }
    }

    & strong {
        font-weight: 700;
    }

}

.team_grid {
    display: grid;
    grid-gap: 2em;
    grid-template-columns: repeat(auto-fill, minmax(25%, 1fr));
    grid-auto-rows: minmax(150px, auto);

    @media screen and (max-width: 800px) {
        grid-template-columns: repeat(auto-fill, minmax(33%, 1fr));
        grid-gap: 1em;
    }

    li {
        margin: 0;
        list-style-type: none;
        text-align: center;
        position: relative;
        padding: 0 1em;

        a span {
            overflow: hidden;
            width: 10em;
            height: 10em;
            display: block;
            position: relative;
            border-radius: 50%;
            margin: 0 auto;
            margin-bottom: .5em;

            @media screen and (max-width: 800px) {
                width: 7em;
                height: 7em;
            }

            img {
                width: 100%;
            }
        }
    }
}
