@import '../components/breakpoints.scss';
@import '../components/colors.scss';
@import '../components/fonts.scss';
@import '../components/font-face.scss';
@import '../components/sizes.scss';

.page_updates {
    min-height: 100vh;
}

.updates {
    background-color: $color-content-background;
    line-height: 1.35;
    max-width: 800px;
    margin: {
        right: auto;
        left: auto;
    }
    padding: $size-lg;
    position: relative;
}