@import '../components/breakpoints.scss';
@import '../components/colors.scss';
@import '../components/sizes.scss';


.venue_main {
	background: {
        attachment: fixed;
        // pre-loading link target on navigation overwrites this
        // rule, so either quickly use important, or put layout-main
        // code in a mixin
        image: url('./images/akvarium.jpg') !important;
        repeat: no-repeat;
        size: cover;
    }


    @media screen and (min-width: 380px) {
        align-items: flex-start;
    }

    @media screen and (max-width: $breakpoint-sm) {
        padding: $size-lg;
        padding-top: 6rem;
    }
}

.venue {
    align-items: center;
    display: flex;
    justify-content: center;
    min-height: 150vh;
    text-align: center;

    &_header {
        background-image: url('./images/akvarium.jpg') !important;

        @media screen and (max-width: $menu-breakpoint) {
            background-image: none !important;
        }


    }

    @media screen and (max-width: 380px) {
        padding: 0 $size-lg;
    }

    & .venueContent {
        position: relative;
    }

    & .title {
        color: #fff;
        font-size: $size-xxl;
        line-height: 1.2;
        @media screen and (min-width: $breakpoint-lg) {
            font-size: $size-xxxl;
        }
    }
    & .address {
        color: #fff;
        display: block;
        font: {
            size: $size-lg;
            weight: 300;
        }

        @media screen and (min-width: $breakpoint-lg) {
            font-size: $size-xl;
        }

        margin: {
            top: $size-lg;
            bottom: $size-lg;
        }
    }

    &_map {
        height: 40vw;
        margin: $size-xxxl 0;
        @media screen and (min-width: $breakpoint-lg) {
            height: 30vw;
        }

        @media screen and (max-width: 380px) {
            height: 70vw;
        }
    }


    & .updates {
        border: 1px solid #fff;
        color: #fff;
        padding: $size-md $size-lg;
        text: {
            decoration: none;
            transform: uppercase;
        }
        &:hover, &:focus, &:active {
            background-color: #fff;
            color: $gray-900;
        }
    }

    & p,
    & blockquote {
        padding: 0 $size-xxl;
        font-size: $size-l;
        color: $color-white;
        font-weight: 200;
        display: block;
        margin-bottom:$size-xl;

        @media screen and (min-width: $breakpoint-lg) {
            padding: 0 $size-xxl;
            line-height: 1.8rem;
        }

        @media screen and (max-width: 380px) {
            padding: 0 $size-md;
            font-size: $size-md;
            line-height: 1.4rem;
        }

        a {
            color: $color-yellow;
        }
    }

    & blockquote {
        font-style: italic;
        font-size: $size-md;
        margin: {
            top: $size-xxl;
            left: $size-xxl;
            right: $size-xxl;
            bottom: $size-sm;

        }
        color: darken($color-white, 30);
        line-height: 1.4rem;

        @media screen and (max-width: 380px) {
            margin-left: $size-lg;
            margin-rigt: $size-lg;
        }

        &:before,
        &:after {
            font-size: $size-xxl;
            line-height: 0;
            display: inline-block;
            padding: 0 10px;
            color: $color-red;
        }
        &:before {
            transform: translateY(10px);
            content: '‟';
        }
        &:after {
            transform: rotate(180deg) translateY(-10px);
            content: '‟'
        }

        + cite {
            display: block;
            text-align: right;
            font-size: $size-md;
            color: $color-red;
            padding: 0 $size-xxl;
            margin: {
                top: 0;
                left: $size-xxl;
                right: $size-xxl;
                bottom: $size-xxl;
            }

            a {
                color: $color-red;
            }
        }
    }

    &_google_map {
        padding: 0 $size-xxl;
    }
}