@import '../mixins.scss';
@import '../breakpoints.scss';
@import '../colors.scss';
@import '../fonts.scss';
@import '../font-face.scss';
@import '../sizes.scss';



.header {
    align-items: center;
    color: #fff;
    display: flex;
    background: {
        attachment: fixed;
        image: url('../budapest.jpg');
        repeat: no-repeat;
        size: cover;
    }

    @include valueByHeaderScroll('height', 84px, 364px);

    @media screen and (max-width: $menu-breakpoint) {
        background-image: none;
        height: 68px;
        position: absolute;
        
        &__nav__open {
            position: fixed;
        }
    }

    justify-content: space-between;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 5;

    @media screen and (min-width: $menu-breakpoint) {
        &::before {
            background: rgba(0, 0, 0, .6);
            bottom: 0;
            content: '';
            left: 0;
            right: 0;
            top: 0;
            position: absolute;
        }

        &_transparent::before {
          //  display: none;
        }
    }

    & .menu_button {
        fill: darken($jsconfred, 20%);
        border: 1px solid darken($jsconfred, 20%);

        height: 30px;
        margin-left: $size-md;
        padding: {
            left: 5px;
            right: 5px;
        }
        width: 32px;
        position: relative;
        z-index: 21;

        @media screen and (min-width: $menu-breakpoint) {
            display: none;
        }

        &_transparent {
            fill: $color-white;
            border-color: $color-white;
        }

        &_open {
            fill: $color-white;
            border-color: $color-white;
        }
    }
    & .date {
        display: none;
    }
}
