@import '../breakpoints.scss';
@import '../colors.scss';
@import '../fonts.scss';
@import '../font-face.scss';
@import '../sizes.scss';

.header {

    

    align-items: center;
    color: #fff;
    display: flex;

    height: calc(calc(calc(var(--scroll-ratio) * 2.5) + 1) * 84px);

    justify-content: space-between;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 5;
    
    
    & .menu_button {
        border: 1px solid #fff;
        fill: #fff;
        height: 30px;
        margin-left: $size-sm;
        padding: {
            left: 5px;
            right: 5px;
        }
        width: 32px;
        
        @media screen and (min-width: $breakpoint-lg) {
            display: none;
        }
    }
    & .date {
        display: none;
    }
}
