@charset 'utf-8';

$main-color: #0d171f;
$secondary-color: #db3127;
$link-color: #921811;
$link-hover-color: #db3127;
$link-visited-color: #92342f;

$color-red: #DB3127;
$color-blue: #3580C2;
$color-yellow: #f2de48;
$color-green: #43a447;

$color-white: #fff;
$color-black: #030303;
$color-green-dark: #409244;
$color-twitter: #1DA1F2;
$color-facebook: #3B579D;
$color-text-dark: #20201F;

$color-grey-1: #F5F7F9;
$color-grey-2: #EBEFF3;
$color-grey-3: #DAE1E6;
$color-grey-4: #CBD4DC;