@charset 'utf-8';
@import './colors.scss';
@import './font-face.scss';
@import './sizes.scss';

html, body {
    font-family: $primary-font;
    //font-size: 18px;
}


h1, h2, h3, h4, h5 {
    font-family: $secondary-font;
    color: $color-red;
    font-weight: 400;
    font-variant-ligatures: no-common-ligatures;
}
