$size-xs: .25rem;
$size-sm: .5rem;
$size-md: 1rem;
$size-l: 1.2rem;
$size-lg: 1.414rem;
$size-xl: 1.999rem;
$size-xxl: 2.872rem;
$size-xxxl: 3.998rem;


$text-xs: .75rem;
$text-sm: .875rem;
$text-md: 1rem;
$text-lg: 1.125rem;

$title-sm: 1.5rem;
$title-md: 2rem;
$title-lg: 3rem;
$title-xl: 4rem;
