.sponsor {

	&_subtitle {
		text-align: center;
		margin-bottom: 4rem;
	}

	&_list {
		width: 100%;
		display: flex;
		flex-direction: row;
		justify-content: space-around;
		align-items: center;
		margin-bottom: 4rem;
	}

	&_list:last-of-type {
		margin-bottom: 0rem;
	}

	&_big {
		width: 350px;
	}

	&_med {
		width: 280px;
	}

	&_sm {
		width: 200px;
	}

	&_scholarship {
		width: 300px;
	}

	&_partner {
		width: 120px;
	}
}