@import '../breakpoints.scss';
@import '../colors.scss';
@import '../font-face.scss';
@import '../sizes.scss';

.updates_list {
    font-weight: 200;

    > * {
        margin-bottom: $size-md;
    }

    & h1 {
        font-size: $title-md;
    }
    & h2, & h3, & h4 {
        font-size: $title-sm;
        margin: {
            top: $size-md;
            bottom: $size-md;
        }
    }
    & a {
        color: $jsconfred;
        &:hover, &:active, &:focus {
            text-decoration: none;
        }
    }
    & .date {
        color: $gray-800;
        display: block;
        font: {
            size: $text-sm;
            style: italic;
        }
    }
    & .title {
        display: inline-block;
        font: {
            size: $title-sm;
            weight: 700;
        }
        margin: {
            top: $size-sm;
            bottom: $size-sm;
        }
        text-decoration: none;
        &:hover, &:focus, &:active {
            color: darken($jsconfred, 10%);
        }
    }
}

.updates_list {
    &_item:not(:last-child) {
        border-bottom: 1px dashed $gray-500;
        margin-bottom: $size-lg;
        padding-bottom: $size-lg;
    }
}