@import '../breakpoints.scss';
@import '../colors.scss';
@import '../font-face.scss';
@import '../sizes.scss';

.speaker_list {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    justify-content: space-around;

    li {
        width: 29%;
        text-align: center;
        margin-bottom: 4rem;
        padding: 0 1rem;
    }

    @media screen and (max-width: $breakpoint-lg) {
        justify-content: space-around;

        li {
            width: 60%;
            //text-align: center;
            margin-bottom: 4rem;
        }
    }
}
.speaker_list_image {
    margin-bottom: 2rem;
}
