@import '../breakpoints.scss';
@import '../colors.scss';
@import '../font-face.scss';
@import '../sizes.scss';

.speaker_list {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    justify-content: space-around;

    li {
        width: 28%;
        text-align: center;
    }
}
.speaker_list_image {
    margin-bottom: 2rem;
}
