@import '../breakpoints.scss';
@import '../colors.scss';
@import '../font-face.scss';
@import '../sizes.scss';

.speaker_list {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    justify-content: space-evenly;

    li {
        width: 29%;
        text-align: center;
        margin-bottom: 4rem;
        padding: 0 1rem;
    }

    @media screen and (max-width: $breakpoint-md) {
        li {
            width: 60%;
        }
    }

    @media screen and (min-width: $breakpoint-md) and (max-width: $breakpoint-lg) {
        li {
            width: 40%;
        }
    }

    @media screen and (min-width: $breakpoint-xl) {
        li {
            width: 30%;
            padding: 0 3rem;
            margin-bottom: 6rem;
        }
    }


    .speaker_link {
        text-decoration: none;

        @media screen and (min-width: $breakpoint-xl) {
            font-size: 1.4rem;
        }

        &:hover, &:active, &:focus {
            .name {
                text-decoration: underline;
            }
        }
        .name {
            text-transform: uppercase;
        }
        .title {
            color: $color-black;

            margin-top: .5rem;
            display: block;
            font-weight: 200;
            font-size: 1rem;

            @media screen and (min-width: $breakpoint-xl) {
                font-size: 1.2rem;
            }
        }
    }
}
.speaker_list_image {
    margin-bottom: 2rem;
}
