@import '../../colors.scss';
@import '../../fonts.scss';
@import '../sponsoration_common.modules.scss';

.impressum {
    @extend %block;
    @extend %block_end;
    background-color: $color-black;
    text-align: center;

    .title {
        font-size: 1.5rem;
        color: $color-white;
        font-weight: 200;
        font-family: $base-font;
        margin-bottom: 1rem;
    }

    p {
        color: $color-grey-4;
        font-weight: 200;
        font-size: .9rem;
        max-width: 20rem;
        margin: 0 auto;
        margin-bottom: 1rem;
    }
}